$guideline: 1px dashed #777;
$guidelines-enabled: true;
$testbg-enabled: false;

$font-size-md: 24px;

@mixin guidelines() {
  @if $guidelines-enabled {
    border: 1px dashed #777;
  } @else {
    border: 0;
  }
}

@mixin random-bgr(){
  @if $testbg-enabled {
    background: rgb(random(255), random(1), random(255));
  }
}

@mixin strip-margin-and-padding() {
  margin: 0;
  padding: 0;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-bottom() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app {
  @include guidelines();
  @include strip-margin-and-padding();
  height: 100vh;
  text-align: center;
}

.main-area-wrapper {
  @include guidelines();
  height: 100vh;
}

header.hud, section.stickyzone, section.binzone, footer.footer  {
  @include guidelines();
}

header.hud, footer.footer {
  @include center();
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 5vh;
}

section.instructions {
  @include center-bottom();
  @include random-bgr();
  height: 15vh;
}

section.whiteboard {
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 75vh;
}

section.stickyzone {
  @include center();
  height: 70%;
}

section.binzone {
  @include center();
  height: 30%;
}

div.hud-col-l, div.hud-col-r {
  @include center();
  @include guidelines();
  @include strip-margin-and-padding();
}

.instructions div h1 {
  @include guidelines();
  @include strip-margin-and-padding();
  font-size: $font-size-md;
  width: 360px;
}

.stickyzone {
  border: 2px solid red;
  height: 100%;
}

.stickynotes {
  @include strip-margin-and-padding();
  height: 100%;
}


.stickynote-wrapper {
  @include center();
  @include strip-margin-and-padding();
}

.stickynote {
  @include strip-margin-and-padding();
  @include center();
  background: yellow;
  border: 1px solid darken(yellow, 5%);
  height: 100px;
  width: 120px;
}

.binzone-droparea {
  @include center();
  border: 2px dashed red;
  font-size: $font-size-md;
  height: 100%;
  width: 100%;
}

.nav-l-btn-wrapper, .nav-r-btn-wrapper {
  @include center();
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 35px;
  top: 40%;
}

.nav-l-btn-wrapper:hover, .nav-r-btn-wrapper:hover {
  background: rgba(0, 0, 0, 0.7);
}

.nav-l-btn-wrapper i, .nav-r-btn-wrapper i {
  color: #fff;
}

.nav-l-btn-wrapper {
  left: 0;
  
}

.nav-r-btn-wrapper {
  right: 0;
}