@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

$col-sticky-1: #ffcc33;
$col-sticky-2: lighten($col-sticky-1, 5%);
$col-sticky-3: #ff7eb9;
$col-sticky-4: #ff65a3;
$col-sticky-5: #7afcff;

$col-lightest: #fff;
$col-lightish: #c7ccd4;
$col-danger-muted: #ff7355;
$col-darkest: rgba(0, 0, 0, 0.8) !important;
$col-bin-border: $col-danger-muted;

$font-size-md: 24px;

$guideline: 1px dashed #777;
$guidelines-enabled: true;
$testbg-enabled: false;

@mixin disable-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

@mixin bg-transparent-texture() {
  background-color: lighten(adjust-hue($col-sticky-1, -10), 45) !important;
  background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
}

@mixin thick-title() {
  @include regulartext();
  font-weight: 900;
}

@mixin sketchtext() {
  font-family: "Cabin Sketch", cursive !important;
  text-transform: uppercase;
}

@mixin handdrawntext() {
  font-family: "Schoolbell", cursive !important;
  font-size: $font-size-md;
  line-height: 25px;
}

@mixin regulartext() {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
}

@mixin guidelines() {
  @if $guidelines-enabled {
    border: 1px dashed #777;
  } @else {
    border: 0;
  }
}

@mixin btn-ohov-1() {
  @include regulartext();
  color: $col-lightest !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-1-hover() {
  color: $col-lightish !important;
  background-color: $col-lightest;
  background-image: initial;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-bottom() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin random-bgr() {
  @if $testbg-enabled {
    background: rgb(random(255), random(1), random(255));
  }
}

@mixin strip-margin-and-padding() {
  margin: 0;
  padding: 0;
}

.app {
  @include guidelines();
  @include strip-margin-and-padding();
  height: 85vh;
  margin-top: 20px;
  min-height: 625px;
  min-width: 340px;
  text-align: center;
}

body {
  @include bg-transparent-texture();
}

.btn {
  @include handdrawntext();
}

.btn-ohov-1 {
  @include btn-ohov-1();
  transition: color 300ms ease 0ms, background-color 300ms ease 0ms, border-radius 300ms ease 0ms;
}

.btn-ohov-1:hover {
  @include btn-ohov-1-hover();
}

.main-area-wrapper {
  @include guidelines();
  height: 100%;
}

header.hud,
section.stickyzone,
section.binzone,
footer.footer {
  @include guidelines();
}

header.hud,
footer.footer {
  @include center();
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 7%;
}

section.instructions {
  @include center-bottom();
  @include random-bgr();
  height: 15%;
}

section.whiteboard {
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 73%;
}

section.stickyzone {
  @include center();
  height: 70%;
}

section.binzone {
  @include center();
  @include sketchtext();
  height: 30%;
}

div.hud-col-l,
div.hud-col-r {
  @include guidelines();
  @include strip-margin-and-padding();
}

div.hud-col-l {
  @include center();
}

div.hud-col-r {
  text-align: right;
  padding-right: 10px;
}

.instructions div h1 {
  @include guidelines();
  @include strip-margin-and-padding();
  @include thick-title();
  color: $col-darkest;
  font-size: 37px;
  line-height: 30px;
  width: 360px;
}

.stickyzone {
  height: 100%;
}

.stickynotes {
  @include strip-margin-and-padding();
  height: 100%;
}

.stickynote-wrapper {
  @include center();
  @include strip-margin-and-padding();
}

.stickynote {
  @include center();
  @include disable-select();
  @include handdrawntext();
  @include strip-margin-and-padding();
  background: $col-sticky-2;
  border: 1px solid darken($col-sticky-2, 5%);
  cursor: move;
  font-size: $font-size-md + 5;
  height: 100px;
  hyphens: auto;
  line-height: 25px;
  rotate: random(2) + deg;
  width: 140px;
}

.stickynote-non {
  @include strip-margin-and-padding();
  @include center();
  background: rgba(20, 20, 20, 0.1);
  font-size: $font-size-md - 5;
  height: 100px;
  hyphens: auto;
  line-height: 25px;
  width: 140px;
}

.stickynote-test-data-wrapper {
  @include guidelines();
  font-family: monospace;
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 10px;
}

.binzone-droparea {
  @include center();
  border: 4px dashed $col-bin-border;
  border-radius: 5px;
  font-size: $font-size-md + 6;
  height: 100%;
  width: 100%;
}

.nav-l-btn-wrapper,
.nav-r-btn-wrapper {
  @include center();
  background: rgba(0, 0, 0, 0.6);
  border: 0;
  border-radius: 5px;
  box-shadow: 0;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 35%;
  width: 25px;
}

.nav-l-btn-wrapper:hover,
.nav-r-btn-wrapper:hover {
  background: rgba(0, 0, 0, 0.5);
}

.nav-l-btn-wrapper i,
.nav-r-btn-wrapper i {
  color: $col-lightest;
}

.nav-l-btn-wrapper {
  left: 0;
}

.nav-r-btn-wrapper {
  right: 0;
}

.nav-btn-disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.scroll-disable {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
}

@media only screen and (min-width: 700px) {
  .stickynote,
  .stickynote-non {
    width: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  .stickynote,
  .stickynote-non {
    width: 300px;
  }
}
