@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

$col-sticky-1: #ffcc33;
$col-sticky-2: lighten($col-sticky-1, 5%);
$col-sticky-3: #f19e8c;
$col-sticky-4: #5ea758;
$col-sticky-5: #99cccc;

$col-lightest: #fff;
$col-lightish: #c7ccd4;
$col-danger-muted: #ff7355;
$col-darkest: rgba(0, 0, 0, 0.8) !important;
$col-bin-border: rgba(0, 0, 0, 0.3);

$font-size-md: 24px;

$guideline: 1px dashed #777;
$guidelines-enabled: false;
$testbg-enabled: false;

@mixin bevel-outer($col-bevel-dark, $col-bevel-light, $width, $strength) {
  border-bottom: $width solid $col-bevel-light;
  border-right: $width solid $col-bevel-light;
  border-top: $width solid $col-bevel-dark;
  border-left: $width solid $col-bevel-dark;
}

@mixin bevel-inner($col-bevel-dark, $col-bevel-light, $width, $strength) {
  border-bottom: $width solid $col-bevel-dark;
  border-right: $width solid $col-bevel-dark;
  border-top: $width solid $col-bevel-light;
  border-left: $width solid $col-bevel-light;
}

@mixin bg-transparent-texture() {
  background-image: url("./../public/textures/broken-noise.png");
}

@mixin border-gradient {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, $col-danger-muted, rgb(0, 162, 255), yellow, orange);
  border-width: 3px;
}

@mixin btn-ohov-1() {
  @include regulartext();
  color: $col-lightest !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-1-hover() {
  color: $col-lightish !important;
  background-color: $col-lightest;
  background-image: initial;
}

@mixin btn-ohov-2() {
  @include regulartext();
  color: $col-lightest !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-2-hover() {
  color: $col-lightish !important;
  background-color: $col-lightest;
  background-image: initial;
}

@mixin btn-ohov-hud() {
  @include regulartext();
  color: #444 !important;
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
  width: 125px;
}

@mixin btn-ohov-hud-hover() {
  //
}

@mixin btn-ohov-approve {
  @include regulartext();
  color: $col-lightest !important;
  background-color: $col-sticky-4;
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-approve-hover {
  background-color: lighten($col-sticky-4, 10%);
}

@mixin btn-ohov-ban {
  @include regulartext();
  color: $col-lightest !important;
  background-color: darken($col-sticky-3, 30%);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 14px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-ban-hover {
  background-color: darken($col-sticky-3, 20%);
}

@mixin btn-ohov-delete {
  @include regulartext();
  background-color: darken($col-sticky-3, 20%);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  color: $col-lightest !important;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 14px;
  font-weight: 900 !important;
}

@mixin btn-ohov-delete-hover {
  background-color: darken($col-sticky-3, 10%);
}

@mixin btn-ohov-welcome() {
  @include regulartext();
  color: $col-lightest !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(65, 65, 144, 0);
  border-radius: 70px;
  border-width: 10px !important;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 900 !important;
}

@mixin btn-ohov-welcome-hover() {
  color: $col-lightest !important;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: initial;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-bottom() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin disable-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

@mixin guidelines() {
  @if $guidelines-enabled {
    border: 1px dashed #777;
  } @else {
    border: 0;
  }
}

@mixin handdrawntext() {
  font-family: "Schoolbell", cursive !important;
  font-size: $font-size-md;
  line-height: 25px;
}

@mixin random-bgr() {
  @if $testbg-enabled {
    background: rgb(random(255), random(1), random(255));
  }
}

@mixin regulartext() {
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
}

@mixin sketchtext() {
  font-family: "Cabin Sketch", cursive !important;
  text-transform: uppercase;
}

@mixin strip-margin-and-padding() {
  margin: 0;
  padding: 0;
}

@mixin thick-title() {
  @include regulartext();
  font-weight: 900;
}

th {
  @include regulartext();
  font-weight: 900;
}

@mixin svg-texture-diagonal() {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin svg-texture-dotmatrix() {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

html,
body {
  max-width: 100%;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // overscroll-behavior: contain;
}

.accordion-button:not(.collapsed) {
  background: darken(#eee, 5%) !important;
  color: #222 !important;
}

.alert-to-other-boards {
  @include handdrawntext();
  background: $col-lightest;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.55));
  height: 65px;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  right: -5px;
  rotate: -10deg;
  top: 26%;
  transform: scale(0.75);
  width: 140px;
}

.animated-duck {
  animation: duckbobbing 1.3s linear infinite;
}

.animated-wheel {
  animation: rotation 2s infinite linear;
}

.app {
  @include guidelines();
  @include strip-margin-and-padding();
  height: 100vh;
  min-height: 675px;
  min-width: 340px;
  padding-bottom: 55px;
  padding-top: 25px;
  text-align: center;
}

.attributions {
  bottom: 0px;
  font-size: 8.5px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  padding-bottom: 5px;
  position: absolute;
  right: -5px;
  rotate: 0deg;
  width: 100px;
  z-index: 999;
}

.attributions a {
}

.attribution-link {
  border: 0;
}

.bg-wrapper-1 {
  //background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/dotnoise-light-grey.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.6;
  z-index: -99;
}

.bg-wrapper-2 {
  background: white;
  // background: linear-gradient(to bottom, white, white);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100;
}

.binzone-active {
  animation: binzoneActivate 1.2s alternate infinite;
}

.binzone-droparea {
  @include center();
  background: rgba(0, 0, 0, 0.1);
  border: 3px dashed rgb(242 91 65 / 60%);
  border-radius: 5px;
  color: $col-darkest;
  font-size: $font-size-md + 6;
  height: 100%;
  user-select: none;
  width: 100%;
}

body {
  @include regulartext();
  background-color: #9d9d9d;
}

.btn {
  @include handdrawntext();
}

.btn-link-regular {
  color: var(--bs-link-color) !important;
  cursor: pointer;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 19px !important;
  text-decoration: underline;
}

.btn-link-regular:hover {
  color: blue;
}

.btn-ohov-1 {
  @include btn-ohov-1();
  transition: color 300ms ease 0ms, background-color 300ms ease 0ms, border-radius 300ms ease 0ms;
}

.btn-ohov-1:hover {
  @include btn-ohov-1-hover();
}

.btn-ohov-2 {
  @include btn-ohov-2();
  transition: color 300ms ease 0ms, background-color 300ms ease 0ms, border-radius 300ms ease 0ms;
}

.btn-ohov-2:hover {
  @include btn-ohov-2-hover();
}

.btn-ohov-hud {
  @include btn-ohov-hud();
}

.btn-ohov-hud:hover {
  @include btn-ohov-hud-hover();
}

.btn-ohov-approve {
  @include btn-ohov-approve();
  width: 120px;
}

.btn-ohov-approve:hover {
  @include btn-ohov-approve-hover();
}

.btn-ohov-delete {
  @include btn-ohov-delete();
  width: 120px;
}

.btn-ohov-delete:hover {
  @include btn-ohov-delete-hover();
}

.btn-ohov-ban {
  @include btn-ohov-ban();
  width: 120px;
}

.btn-ohov-ban:hover {
  @include btn-ohov-ban-hover();
}

.btn-ohov-welcome {
  @include btn-ohov-welcome();
}

.btn-ohov-welcome:hover {
  @include btn-ohov-welcome-hover();
}

.debug-panel {
  background: #000;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

div.hud-col-l,
div.hud-col-r {
  @include guidelines();
  @include strip-margin-and-padding();
}

div.hud-col-l,
div.hud-col-r {
  margin-top: 2px;
  @include center();
}

.duck {
  filter: contrast(1.1) brightness(0.9) hue-rotate(0deg) drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.9));
  height: 120px;
  left: 500px;
  position: absolute;
  top: 465px;
  width: 200px;
  //left: 200px !important; <-- for testing
}

.fade-in-out {
  animation: fade-in-out 10s ease-in-out 3s forwards;
}

header.hud,
section.stickyzone,
section.binzone,
footer.footer {
  @include guidelines();
}

header.hud,
footer.footer {
  @include center();
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 7%;
  color: #666;
  font-size: 11px;
}

header.hud-results {
  @include center();
  @include strip-margin-and-padding();
  //background: #222;
  //border-bottom: 3px dashed #111;
  color: #000;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.15));
  font-size: 11px;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main-area-wrapper {
  @include guidelines();
  height: 100%;
}

.paper-ball-sm-wrapper {
  filter: brightness(1.05) hue-rotate(-5deg) drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.9));
}

.image-preload {
  background: lime;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(0.5);
  z-index: -9999999;
}

.instructions div h1 {
  @include guidelines();
  @include strip-margin-and-padding();
  @include thick-title();
  color: $col-darkest;
  font-size: 37px;
  line-height: 30px;
  width: 360px;
}

.results-title {
  @include guidelines();
  @include sketchtext();
  color: $col-darkest;
  font-size: 37px;
  border-radius: 10px;
  width: 100%;
}

.results-heading {
  @include guidelines();
  @include strip-margin-and-padding();
  @include thick-title();
  color: $col-darkest;
  font-size: 25px;
  line-height: 30px;
}

.loader {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.75);
  width: 100%;
  z-index: 100;
}

.loader-circle {
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: absolute;
  top: 50%;
  width: 120px;
}

.loader-content {
  @include regulartext();
  color: #222;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -100%);
}

.loader-line-mask {
  animation: rotateLoader 1s infinite linear;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  width: 60px;
}

.loader-line-mask .loader-line {
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #222;
  height: 120px;
  width: 120px;
}

.menu-link {
  color: $col-darkest;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
  color: blue;
}

.menu-wrapper {
  animation: menu-load 0.2s forwards;
  background: none;
  border-radius: 5px !important;
  display: none;
  margin-right: 75px;
  overflow: hidden;
  padding: 1px;
  position: absolute;
  top: 60px;
  transform-origin: top;
  width: 200px;
  z-index: 9999;
}

.menu-wrapper button {
  border: 1px solid #eee;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: "Lato", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-wrapper button:hover {
  background: #eee;
}

.menu-wrapper button:first-child {
  border-radius: 5px 5px 0 0;
}

.menu-wrapper button:last-child {
  border-radius: 0 0 5px 5px;
}

.modal {
  backdrop-filter: blur(3px) !important;
}

.modal-body {
  @include regulartext();
  color: $col-darkest;
  font-size: 19px;
}

.modal-label-submission {
  @include handdrawntext();
  font-size: 30px !important;
  text-align: center;
}

.modal-title {
  @include thick-title();
  color: $col-darkest;
}

.modal-title {
  font-weight: 900 !important;
}

.modal-header,
.modal-body,
.modal-footer {
  //background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
}

.modal-header {
  // border-bottom: 1px dashed #000 !important;
}

.modal-footer {
  //border-top: 1px dashed #000 !important;
}

.modview-label-text {
  @include handdrawntext();
}

.modview-section-subtitle {
  @include thick-title();
  font-size: 22px;
}

.modview-section-title {
  @include thick-title();
}

.nav-l-btn-wrapper,
.nav-r-btn-wrapper {
  @include center();
  background: rgba(0, 0, 0, 0.6);
  border: 0;
  border-radius: 5px;
  box-shadow: 0;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 35%;
  width: 25px;
}

.nav-l-btn-wrapper:hover,
.nav-r-btn-wrapper:hover {
  background: rgba(0, 0, 0, 0.5);
}

.nav-l-btn-wrapper i,
.nav-r-btn-wrapper i {
  color: $col-lightest;
}

.nav-l-btn-wrapper {
  left: 0;
}

.nav-r-btn-wrapper {
  right: 0;
}

.nav-btn-disable {
  cursor: not-allowed;
  opacity: 0.3;
}

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  //pointer-events: none;
  border-radius: 10px;
}

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

.overflow-hide {
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: contain !important;
}

.overflow-x {
  overflow-x: hidden;
}

.random-rotate-0 {
  rotate: random(1) + deg;
}

.random-rotate-1 {
  rotate: -1.5deg;
}

.random-rotate-2 {
  rotate: random(1) + deg;
}

section.instructions {
  @include center-bottom();
  @include random-bgr();
  height: 15%;
}

section.whiteboard {
  @include random-bgr();
  @include strip-margin-and-padding();
  height: 73%;
}

section.stickyzone {
  @include center();
  height: 70%;
  min-height: 320px;
  max-height: 350px;
  /*
  border: 5px solid rgb(175, 142, 82);
  border-radius: 5px;
  background-color: #7b450a;
  background-image: url("https://www.transparenttextures.com/patterns/wine-cork.png");*/
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

section.binzone {
  @include center();
  @include sketchtext();
  height: 30%;
}

.stickyzone {
  height: 100%;
}

.stickynotes {
  @include strip-margin-and-padding();
  height: 100%;
}

.stickynote-wrapper {
  @include center();
  @include strip-margin-and-padding();
}

.stickynote-x {
  animation: fadeIn 2s;
  animation-delay: 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-disable {
  height: 100%;
  overflow: hidden;
}

#staticBackdrop {
  backdrop-filter: blur(4px);
}

.stickynote {
  @include center();
  @include disable-select();
  @include handdrawntext();
  @include strip-margin-and-padding();
  background: $col-sticky-2;
  border: 1px solid darken($col-sticky-2, 5%);
  cursor: move;
  font-size: $font-size-md - 2;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.55));
  height: 100px;
  hyphens: auto;
  line-height: 25px;
  //rotate: random(1) + deg;
  width: 140px;
}

.stickynote:hover {
  background-color: lighten($col-sticky-2, 10%);
}

.stickynote-non {
  @include strip-margin-and-padding();
  @include center();
  font-size: $font-size-md - 5;
  height: 100px;
  hyphens: auto;
  line-height: 25px;
  width: 100%;
}

.stickynote-sub-wrapper {
  @include center();
  @include strip-margin-and-padding();
  height: 100px;
  width: 100%;
}

.stickynote-test-data-wrapper {
  @include guidelines();
  font-family: monospace;
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 10px;
}

.stickynote-rotating {
  //animation: rotation 2s infinite linear;
}

.stickyzone-no-labels-msg {
  @include center();
}

.table {
  --bs-table-striped-bg: #eee !important;
}

.whiteboard-msg-thanks {
  @include thick-title();
  font-size: 37px;
  line-height: 0;
  margin-top: 20px;
}

.whiteboard-msg-parenth {
  @include handdrawntext();
  font-size: 20px;
}

.whiteboard-msg-text-wrapper {
  @include center();
}

.whiteboard-msg-wrapper {
  position: absolute !important;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  z-index: 999;
}

/*
.whiteboard-msg-wrapper {
  @include thick-title();
  background: #222;
  color: #ccc;
  height: 25vh;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute !important;
  right: 0;
  top: 0%;
  z-index: 999;
}*/

@media only screen and (max-width: 700px) {
}

@media only screen and (min-width: 700px) {
  .stickynote,
  .stickynote-non {
    width: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  .stickynote,
  .stickynote-non {
    width: 300px;
  }
}

@keyframes binzoneActivate {
  0% {
    border-color: rgb(240, 80, 0);
    transform: scale(1);
  }
  50% {
    border-color: rgb(0, 200, 255);
    transform: scale(1.05);
  }
  100% {
    border-color: orange;
    transform: scale(1);
  }
}

@keyframes duckbobbing {
  0%,
  100% {
    margin-top: 5px;
  }
  50% {
    margin-top: 0px;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes menu-load {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
